{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <form method="POST">
        {% csrf_token %}
        {{form | crispy}}
        <button type="submit">Login</button>
        <p>Don't have an account? Create one <a href="{% url 'register' %}">here</a></p>
    </form>
</body>
</html>